.Message {
  display: flex;
}

.Message-sender {
  justify-content: flex-end;
  /* background-color: #424874; */
}

.Message-reciever {
  justify-content: flex-start;
  /* background-color: #dcd6f7; */
}

.Message-bubble {
  width: 60%;
  padding: 1.5rem;
  margin: 0.5rem 2rem;
  border-radius: 18px;
}

.Message-sender .Message-bubble {
  background-color: #424874;
  border-bottom-right-radius: 6px;
  color: #ffffff;
}
.Message-reciever .Message-bubble {
  background-color: #dcd6f7;
  border-bottom-left-radius: 6px;
}

/* .Message-reciever.Message-bubble {
  background-color: green;
  border-radius: 10px;
  padding: 1rem;
  width: 60%;
} */
