.Message {
  display: flex;
  margin-bottom: 0.3rem;
}

.Message-sender {
  justify-content: flex-end;
}

.Message-reciever {
  justify-content: flex-start;
}

.Message-box {
  width: 60%;
}

.Message-bubble {
  padding: 1.5rem;
  border-radius: 18px;
}

.Message-sender .Message-bubble {
  background-color: #424874;
  border-top-right-radius: 6px;
  color: #ffffff;
}

.Message-reciever .Message-bubble {
  background-color: #dcd6f7;
  border-top-left-radius: 6px;
}

.Message-info {
  display: flex;
  align-items: baseline;
  margin: 0.5rem 1.5rem;
}

.Message-user {
  padding-right: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.Message-time {
  color: #a6b1e1;
  font-size: 1.2rem;
  font-weight: 600;
}

.Message-dot {
  display: inline-block;
  width: 2rem;
  position: relative;
}

.Message-dot::after {
  content: "";
  height: 4px;
  width: 4px;
  background-color: #a6b1e1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  border-radius: 50%;
}

.Message-sender .Message-info {
  justify-content: flex-end;
}

.Message-reciever .Message-info {
  justify-content: flex-start;
}
