.Message-box {
  width: 100%;
  display: flex;
  word-wrap: break-word;
  padding: 1rem;
}

.Message-box.sender {
  justify-content: flex-end;
}

.Message-box.receiver {
  justify-content: flex-start;
}

.Message {
  max-width: 60%;
  padding: 1rem;
}

.Message-box.receiver .Message {
  border-radius: 14px;
  border-top-left-radius: 4px;
  background-color: #f8f9f9;
}

.Message-box.sender .Message {
  border-radius: 14px;
  border-top-right-radius: 4px;
  background-color: #5f6caf;
  color: white;
}
